{% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h3>Formation dans votre panier</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Date d'ajout</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% set totalAmount = 0 %}

        {% for c in contentCarts %}
        <tr>
            <td><img style="width: 70px" src="{{ asset('upload/' ~ c.product.picture) }}" alt="img-card" ></td>
            <td>{{ c.product.name }}</td>
            <td>{{ c.quantity }}</td>
            <td>{{ c.quantity * c.product.prize }}</td>
            <td>{{ c.createdAt|date('Y-m-d H:i:s') }}</td>
            <td><a href="{{ path('app_content_cart_delete', {'id': c.id}) }}">Delete</a></td>
        </tr>
        {% set totalAmount = totalAmount + (c.quantity * c.product.prize) %}
        {% else %}
            <p>Aucune formations en ligne</p>
        {% endfor %}
        </tbody>
    </table>
    {% if contentCarts is not empty %}
       <div class="d-flex justify-content-between aligtn-items-center">
           <p>Montant total : {{ totalAmount }} €</p>
           <button><a href="{{ path('app_cart_pay', {'id': cartId}) }}">Payer</a></button>
       </div>
    {% endif %}


{% endblock %}
