{% extends 'base.html.twig' %}

{% block title %}Talent Craft |  {{'cart.cart'|trans}}{% endblock %}

{% block body %}
    <h1>{{'cart.cart' |trans}}</h1>

    <!-- Tableau pour afficher les détails du panier -->
    <table class="table">
        <tbody>
            <!-- ID du panier -->
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <!-- Date d'achat du panier -->
            <tr>
                <th>{{'cart.buy' |trans}}</th>
                <td>{{ cart.buyAt ? cart.buyAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <!-- État du panier (payé ou non) -->
            <tr>
                <th>{{'cart.state' |trans}}</th>
                <td>{{ cart.state ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Liens de navigation -->
    <a href="{{ path('app_cart_index') }}">{{'product.back' |trans}}</a>

    <!-- Lien pour éditer le panier -->
    <a href="{{ path('app_cart_edit', {'id': cart.id}) }}">{{'cart.edit' |trans}}</a>

    <!-- Inclut le formulaire de suppression du panier -->
    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
