{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="w-50" style="margin-right: 20px">
            <h3>Liste des users</h3>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles|join(', ') }}</td>
                        <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : 'N/A' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w-50">
            <h3>Liste des commandes en cours</h3>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for cart in carts %}
                    {# Initialise une variable pour stocker le montant total de la commande #}
                    {% set totalAmount = 0 %}

                    {% for content in cart.contentCarts %}
                        {# Ajoute le prix de chaque produit au montant total #}
                        {% set totalAmount = totalAmount + content.product.prize %}
                    {% endfor %}

                    <!-- Élément de l'accordéon pour chaque commande -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ cart.id }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                Id: {{ cart.id }} - panier de {{ cart.user.firstName }} {{ cart.user.lastName }}
                            </button>
                        </h2>
                        <div id="flush-collapse-{{ cart.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <!-- Tableau affichant les détails des produits dans la commande -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Image</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for content in cart.contentCarts %}
                                        <!-- Ligne du tableau pour chaque produit dans la commande -->
                                        <tr>
                                            <td>{{ content.product.name }}</td>
                                            <td><img style="border-radius: 5px; width: 50px" src="{{ asset('upload/' ~ content.product.picture) }}" alt="img product" ></td>
                                            <td>{{ content.quantity }}</td>
                                            <td>{{ content.quantity * content.product.prize }} €</td>
                                            <td><a href="{{ path('app_product_show', {'id': content.product.id}) }}"><i class='bx bx-show'></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <br>
                {% else %}
                    <!-- Message si aucune ancienne commande n'est trouvée -->
                    <p>Aucune ancienne commande</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
