{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block stylesheets %}
    <style>
    .detail button{
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 15px 30px;
        color: #FFF;
        text-align: justify;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        border: none;
        outline: none;
    }
    .detail button.buy {
        background: #59ABD9;
    }
    .detail button.remove {
        background: #D95959;
    }
    .detail button.update {
        background: #EE742F;
    }
    .detail .card {
        border-radius: 5px;
        background: #F9F9F9;
        padding: 10px;
    }

    .detail img {
        margin-right: 50px;
        border-radius: 10px;
        width: 35%;
    }

    a {
        text-decoration: none;
    }

    </style>
{% endblock %}

{% block body %}
    <div class="w-100 d-flex justify-content-end mt-5 mb-3"><a href="{{ path('app_product_index')}}" class="d-flex justify-content-center p-2" style="background: #3b82f6; border-radius: 100%"><i class='bx bx-arrow-back' style="color: white" ></i></a></div>
    <form class="d-flex detail h-100" method="post" action="{{ path('app_add_content_cart', {'id': product.id}) }}">
        <img src="{{ asset('upload/' ~ product.picture) }}" >
        <div class="w-100 h-100 d-flex flex-column justify-content-between">
            <div class="card">
                <h1> <strong>{{ product.name }} </strong></h1>
                <h3>{{ product.prize }}€ /Formation</h3> 
                <div><br>
                    <label for="productQuantity">{{'product.quantity'|trans}}</label> 
                    <select id="productQuantity" name="productQuantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div><br>
                <p>{{ product.description }}</p>
            </div>
            <div class="w-100">
                <a><button type="submit" name="add-cart" class="w-100 d-flex justify-content-between align-items-center buy mt-3">{{'cart.add'|trans}}<i class='bx bx-cart'></i></button></a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}"><button class="w-100 d-flex justify-content-center update mt-3">{{'cart.edit'|trans}}</button></a>
                    <a href="{{ path('app_product_delete', {'id': product.id}) }}"><button class="w-100 d-flex justify-content-center remove mt-3">{{'cart.delete'|trans}}</button></a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
