{# show.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{'product.product' |trans}}{% endblock %}
{% block stylesheets %}
    
{% endblock %}

{% block body %}
    <!-- Bouton de retour vers la liste des produits -->
    <div class="w-100 d-flex justify-content-end mt-5 mb-3">
        <a href="{{ path('app_product_index')}}" class="d-flex justify-content-center p-2" style="background: #3b82f6; border-radius: 100%">
            <i class='bx bx-arrow-back' style="color: white"></i> <!-- Icône de flèche -->
        </a>
    </div>

    <!-- Formulaire d'ajout au panier -->
    <form class="d-flex detail h-100" method="post" action="{{ path('app_add_content_cart', {'id': product.id}) }}">
        <!-- Image du produit -->
        <img src="{{ asset('upload/' ~ product.picture) }}" >

        <!-- Contenu du produit (nom, prix, quantité, description) -->
        <div class="w-100 h-100 d-flex flex-column justify-content-between">
            <div class="card">
                <h1> <strong>{{ product.name }} </strong></h1>
                <h3>{{ product.prize }}€ /Formation</h3> 

                <!-- Sélection de la quantité -->
                <div>
                    <label for="productQuantity">{{'product.quantity'|trans}}</label> 
                    <select id="productQuantity" name="productQuantity">
                    {% for i in range (1, 30) %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                    </select>
                </div>

                <br>

                <!-- Description du produit -->
                <p>{{ product.description }}</p>
            </div>

            <!-- Actions possibles (Ajouter au panier, Éditer, Supprimer) -->
            <div class="w-100">
                <!-- Bouton "Ajouter au panier" -->
                <a><button type="submit" name="add-cart" class="w-100 d-flex justify-content-between align-items-center buy mt-3">{{'cart.add'|trans}}<i class='bx bx-cart'></i></button></a>

                <!-- Boutons d'édition et de suppression (visible uniquement pour les administrateurs) -->
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}"><button type="button" class="w-100 d-flex justify-content-center update mt-3">{{'cart.edit'|trans}}</button></a>
                    <a href="{{ path('app_product_delete', {'id': product.id}) }}"><button type="button" class="w-100 d-flex justify-content-center remove mt-3">{{'cart.delete'|trans}}</button></a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

