{# card-product.html.twig #}

<!-- Conteneur de carte de produit avec une disposition en colonne -->
<div class="card-product d-flex flex-column p-3">
    
    <!-- Condition pour afficher une image si elle est disponible -->
    {% if product.picture is not null %}
        <img src="{{ asset('upload/' ~ product.picture) }}" alt="img-card" >
    {% endif %}
    
    <!-- Section du contenu du produit -->
    <div>
        <!-- En-tête de la carte avec le nom et le prix -->
        <div class="d-flex flex-column">
            <h3>{{ product.name }}</h3>
            <p>{{ product.prize}} €</p>
        </div>
        
        <!-- Bouton avec un lien vers la page détaillée du produit -->
        <a href="{{ path('app_product_show', {'id': product.id}) }}"><button>{{'cart.more'|trans}}</button></a>
    </div>
</div>
