{# templates/footer.html.twig #}

<footer class="all-footer mt-4"> <!-- Ajoutez la classe mt-4 pour définir la marge supérieure -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 opacity-section">
                <h4 class="mt-3">{{'footer.cord'|trans}}</h4> <!-- Ajoutez la classe mt-3 pour définir la marge supérieure du titre -->
                <p><i class='bx bxs-home'></i><strong> {{'footer.adress'|trans}} </strong> :  123 Rue de l'Exemple, Ville</p>
                <p><i class='bx bxs-phone'></i><strong>  {{'footer.phone'|trans}} </strong> : +123 456 789</p>
                <p><i class='bx bxs-envelope' ></i><strong> {{'footer.email'|trans}} </strong> :  contact@exemple.com</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4 class="mt-3"> {{'footer.title'|trans}} </h4> <!-- Ajoutez la classe mt-3 pour définir la marge supérieure du titre -->
                <ul class="list-unstyled">
                    <li><i class="fas fa-home"></i> <a href="{{ path('app_cart_index') }}" class="text-light" style="text-decoration:none">{{'footer.accueil'|trans}}</a></li>
                    <li><i class="fas fa-shopping-cart"></i> <a href="{{ path('app_content_cart_index') }}" class="text-light" style="text-decoration:none">{{'footer.panier'|trans}}</a></li>
                    <li><i class="fas fa-user"></i> <a href="{{ path('app_user_index') }}" class="text-light" style="text-decoration:none">{{'footer.compte'|trans}}</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 opacity-section">
                <h4 class="mt-3">{{'footer.social'|trans}}</h4> <!-- Ajoutez la classe mt-3 pour définir la marge supérieure du titre -->
                <p class="icon-container"><i class='bx bxl-facebook-square'></i><strong> Facebook</strong> </p>
                <p class="icon-container"><i class='bx bxl-twitter'></i><strong> Twitter</strong> </p>
                <p class="icon-container"><i class='bx bxl-instagram'></i><strong> Instagram</strong> </p>
            </div>
        </div>
    </div>
</footer>
