{# navbar.twig #}
<nav class="d-flex align-items-center justify-content-between">
    <div class="logo d-flex align-items-center">
       <a href="{{ path('app_cart_index') }}"> <img src="{{ asset('images/logo.png') }}"></a>
        <h1>Talent Craft</h1>
    </div>
    <ul class="d-flex">
        <li><a href="{{ path('app_product_index') }}">{{'navbar.accueil'|trans}}</a></li>
        <li><a href="{{ path('app_content_cart_index') }}">{{'navbar.panier'|trans}}</a></li>

        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('app_user_index') }}">{{'navbar.compte'|trans}}</a></li>
            <li><a href= "{{path('app_logout')}}" class="btn btn-primary"> {{'navbar.deconnexion'|trans}}</a></li>
        {% else %}
            <li><a href="{{ path('app_registration') }}">{{'navbar.inscription'|trans}}</a></li>
            <li><a href="{{ path('app_login') }}">{{'navbar.connexion'|trans}}</a></li>
        {% endif %}

    </ul>
    
    <img  class="drapeau" src="{{ asset('images/logo-eu.png') }}">
</nav>
