{# navbar.twig #}
<nav class="d-flex align-items-center justify-content-between">
    <div class="logo d-flex align-items-center">
        <img src="{{ asset('images/logo.png') }}">
        <h1>Talent Craft</h1>
    </div>
    <ul class="d-flex">
        <li><a href="{{ path('app_product_index') }}">{{'navbar.accueil'|trans}}</a></li>
        <li><a href="{{ path('app_content_cart_index') }}">{{'navbar.panier'|trans}}</a></li>
        <li><a href="{{ path('app_user_index') }}">{{'navbar.compte'|trans}}</a></li>
    </ul>
    
    <img  class="drapeau" src="{{ asset('images/logo-eu.png') }}">
</nav>
