{# navbar.twig #}

<nav class="navbar bg-body-tertiary w-100" style="background: none !important">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_product_index') }}">
            <img style="margin-right: 5px" src="{{ asset('images/logo-talent-craft.png') }}">
            Talent Craft
        </a>
        <div class="d-flex w-25 justify-content-between">
            <a class="nav-link active" href="{{ path('app_product_index') }}">{{'navbar.accueil'|trans}}</a>
            <a class="nav-link" href="{{ path('app_cart_index') }}">{{'navbar.panier'|trans}}</a>
            {% if is_granted('ROLE_USER') %}
                <a class="nav-link" href="{{ path('app_user') }}">{{'navbar.compte'|trans}}</a>
            {% endif %}
        </div>
        <div class="language d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-center" style="margin-right: 10px">
                <img id="en" style="border-radius: 100%; width: 30px" src="{{ asset('images/logo-eu.png') }}">
                <div class="mx-2" style="height: 30px; width: 1px; background: black"></div>
                <img id="fr" style="border-radius: 100%; width: 30px" src="{{ asset('images/logo-france.png') }}">
            </div>
            {% if is_granted('ROLE_USER') %}
                <a style="width: 150px" href= "{{path('app_logout')}}" class="btn btn-primary"> {{'navbar.deconnexion'|trans}}</a>
            {% else %}
                <a style="width: 150px" class="btn btn-primary" href="{{ path('app_registration') }}">{{'navbar.inscription'|trans}}</a>
                <a style="width: 150px" class="btn btn-primary" href="{{ path('app_login') }}">{{'navbar.connexion'|trans}}</a>
            {% endif %}
        </div>
    </div>
</nav>
