{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="msg-error">
        <h3>{{'error.erreur500' |trans}}</h3>
        <p><a href="{{ path('app_product_index') }}">{{'error.retourner' |trans}}</a> {{'error.accueil' |trans}}</p>
    </div>
    <img class="error" src="{{ asset('images/error.png') }}">
{% endblock %}