{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <!-- Titre de la page -->
    <h1>{{'user.user'|trans}}</h1>

    <!-- Tableau affichant les détails des utilisateurs -->
    <table class="table">
        <thead>
            <!-- En-têtes du tableau -->
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>{{'user.role'|trans}}</th>
                <th>{{'user.password'|trans}}</th>
                <th>{{'user.actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <!-- Boucle sur chaque utilisateur -->
            <tr>
                <!-- Affichage des détails de chaque utilisateur -->
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <!-- Liens d'action pour chaque utilisateur (suppression et édition) -->
                    <a href="{{ path('app_user_delete', {'id': user.id}) }}" class= "btn btn-danger">{{'user.supprimer'|trans}}</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class= "btn btn-success">{{'user.edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <!-- Affichage si aucun utilisateur n'est trouvé -->
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Lien pour créer un nouvel utilisateur -->
    <a href="{{ path('app_user_new') }}"> {{'user.new'|trans}}</a>
{% endblock %}
