{% extends 'base.html.twig' %}

{% block title %}{{'user.user' |trans}}{% endblock %}

{% block body %}
    <h1>{{'user.user' |trans}}</h1>

    <!-- Tableau pour afficher les détails de l'utilisateur -->
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{'user.role' |trans}}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>{{'user.password' |trans}}</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">{{'product.back' |trans}}</a>

    <!-- Lien pour éditer l'utilisateur -->
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{'product.edit' |trans}}</a>

    <!-- Inclut le formulaire de suppression de l'utilisateur -->
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
